.cardsContainer {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.card {
    width: 31%;
    display: block;
    float: left;
    margin: 2% 0 2% 2%;
    height: 455px;
}

.card:first-child {
    margin-left: 0;
}

.card .title {
    height: 15px;
    overflow: hidden;
}

.card .media img {
    padding: 10px 10px 0px 10px;
}

.card .media img {
    max-width: 100%;
}

.card .content {
    height: 150px;
    overflow: hidden;
}

@media only screen and (max-width: 480px) {
    .card {
        margin: 2% 0 2% 0%;
        width: 100%;
        height: auto;
    }

    .card .content {
        height: auto;
        max-height: 150px;
        overflow: hidden;
    }
}

.modal-image-content img {
  width: 100%;
}
