.threadCardsContainer {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.threadCard {
    width: 31%;
    display: block;
    float: left;
    margin: 2% 0 2% 2%;
    height: 455px;
}

.threadCard:first-child {
    margin-left: 0;
}

.threadCard .title {
    height: 15px;
    overflow: hidden;
}

.threadCard .media {
    padding: 10px;
}

.threadCard .media img {
    max-width: 100%;
    /*max-height: 150px;*/
}

.threadCard .content {
    height: 150px;
    overflow: hidden;
}

@media only screen and (max-width: 480px) {
    .threadCard {
        margin: 1% 0 1% 0%;
        width: 100%;
        height: auto;
    }

    .threadCard .content {
        height: auto;
        max-height: 150px;
        overflow: hidden;
    }
}