<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="4chan read only built using Meteor, React and MaterialUI.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="next" href="/b" />
  <link rel="prev" href="/b" />
  <link rel="prerender" href="/b" />
  <link rel="prefetch" href="/b" />
  <meta name="msapplication-TileColor" content="#0E2B5E" />
  <meta name="application-name" content="ch4n" />
  <title>ch4n</title>
</head>

<body>
  <div id="render-target"></div>
</body>